<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
<h1>Welcome to WynQuiz!</h1>

<div class="lang">
  <div id="ruby">RUBY</div>
  <div id="html">HTML</div>
  <div id="css">CSS</div>
</div>

<div class="all">
<div class="">ALL VOCABULARY</div>
</div>
