<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
<h1>Welcome to WynQuiz!</h1>

<div class="lang">
	<div class = "logo" id="html">
		<a href = '../html'> 
			<img id ="html-logo" src="images/html5-logo.png" alt= "HTML logo"/>
		</a>	
	</div>
	<div class = "logo" id="ruby">
		<a href = '../ruby'> 
			<img id ="ruby-logo" src="images/ruby-logo.png" alt= "Ruby logo"/>
		</a>
	</div>
	<div class = "logo" id="css">
		<a href = '../css'> 
			<img  id ="css-logo" src="images/css3-logo.png" alt= "CSS logo"/>
		</a>
	</div>
</div>

<div class="all">
	<a href = '../all_cards'> 
		<div id="all"><strong>ALL VOCABULARY</strong></div>
	</a>
</div>
