<!-- View for Ruby Flash Cards. -->
<div class = "mycard">
	<%= @card.vocab %>
</div>
<button onclick="showDefinition()">Show Definition</button>

<div class = "defintion" id = "card-definition">
	<%= @card.definition %>
</div>
