<div class = "mycard">
		<%= @card.vocab %>
	</div>
	<button onclick="showDefinition()">Show Definition</button>

	<div class = "definition" id = "card-definition">
		<%= @card.definition %>
	</div>

	<button class="next_button">
		<%= link_to "Next", @next_card %>
	</button>