// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card-definition {
	display: none;
}
/**{
	box-sizing: border-box;
}*/

body{
	background: image-url('paintsplatter.jpg') no-repeat center center fixed;
	background-size: cover;
}


h1{
	color: white;
	text-align: center;
	font-size: 90pt;
	font-family: 'Rajdhani', sans-serif;
	margin-bottom: 25px;
}
#title{
background: rgba(255, 255, 255, 0.25);
padding: 12px;
border-radius: 20px;
margin-left: 175px;
margin-right: 175px;
}

strong{
	font-weight: bold;
}

.lang {
	column-count: 3;
	text-align: center;

}

.all{
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	margin-bottom: 100px;
	font-weight: bold;
	font-size: 25pt;
  margin-top: 80px;
}

#all {
  background: -webkit-linear-gradient(-140deg, white, #3498db);
	width:20%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8%;
	padding: 10px;
}

img {
	width: 20%;
	height: 20%;
}

img:hover
{
     cursor:pointer;
		 width: 30%;
	 	 height: 30%;

}


#ruby-logo {

}

#css-logo {
	margin-right: 300px;
}

#html-logo {
	margin-left: 300px;


}

a {
    color: white;
    text-decoration: none;
}

.all_cards_box_1 {
    margin-top: 25px;
		font-family: 'Rajdhani', sans-serif;
}

#textv{
	font-size: 40px;
	color: white;
}

.all_cards_box_2 {
    height: 600px;
    // width: 900px;
    background: image-url('computer.png') no-repeat center;
		background-size: 800px 600px;


}

#card-definition{
	margin: 0 410px;
	padding-top: 100px;
}

.all_cards_box_3 {
		margin: 0 410px;
    text-align: center;


}
// .mycard {
// 	border: solid 1px black;
// 	// margin-bottom: 120px;
// 	font-size: 30px;
// 	font-family: 'Rajdhani', sans-serif;
// }

div#card-definition {
/*	border: solid 1px magenta;
	margin-bottom: 20%; */
}

.button_position {
/*	border: solid 1px green;
*/}

.reveal_button {

	// margin-left: 33%;
	// margin-right: 10px;
	// height: 30px;
}

.next_button {
	// height: 30px;
}

#card-definition{
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
}
.typewrite {
	font-size: 60px;
	color: white;
	font-family: 'Rajdhani', sans-serif;
}
#html-logo, #ruby-logo, #css-logo {
    background: rgba(255, 255, 255, 0.64);
    padding: 12px;
    border-radius: 20px;
}
