// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card-definition {
	display: none;
}
*{
	background-image: url("app/assets/images/frontpage.png") no-repeat center center fixed;
	box-sizing: border-box;
}


h1{
	text-align: center;
	font-size: 75pt;
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	margin-bottom: 200px;
}

.lang {
	column-count: 3;
	text-align: center;
	margin-bottom: 150px;
}

.all{
	text-align: center;
}
