// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card-definition {
	display: none;
}
*{
	box-sizing: border-box;
}

body{
	background: image-url('frontpage.png') no-repeat center center fixed;
	background-size: cover;
}


h1{
	text-align: center;
	font-size: 75pt;
	font-family: 'Rajdhani', sans-serif;
	margin-bottom: 200px;
}
strong{
	font-weight: bold;
}

.lang {
	column-count: 3;
	text-align: center;
	margin-bottom: 150px;
}

.all{
	text-align: center;
}

img {
	width: 20%;
	height: 20%;
}

img:hover
{
     cursor:pointer;
		 width: 30%;
	 	height: 30%;
}


#ruby-logo {
	margin-top: 25px;
}

#css-logo {
	margin-right: 250px;
}

#html-logo {
	margin-left: 250px;
}

#all {
	margin-top: 30px;
}
