// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card-definition {
	display: none;
}
/**{
	box-sizing: border-box;
}*/

body{
	background: image-url('frontpage.png') no-repeat center center fixed;
	background-size: cover;
}


h1{
	text-align: center;
	font-size: 90pt;
	font-family: 'Rajdhani', sans-serif;
	margin-bottom: 125px;
}
strong{
	font-weight: bold;
}

.lang {
	column-count: 3;
	text-align: center;

}

.all{
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	margin-bottom: 100px;
	font-weight: bold;
	font-size: 25pt;

}

#all {
 background: -webkit-linear-gradient(-140deg, white, #3498db);
width:20%;
margin-left: auto;
margin-right: auto;
border-radius: 8%;
padding: 10px;
}

img {
	width: 20%;
	height: 20%;
}

img:hover
{
     cursor:pointer;
		 width: 30%;
	 	height: 30%;

}


#ruby-logo {
	margin-top: 25px;
}

#css-logo {
	margin-right: 250px;
}

#html-logo {
	margin-left: 250px;
}

a {
    color: white;
    text-decoration: none;
}

.all_cards_box_1 {
    background-color: aliceblue;
    margin-top: 5%;
    margin-left: 17%;
    margin-right: 10%;
    padding: 75px;
    height: 3px;
    width: 65%;
    float: left;
}

.all_cards_box_2 {
    background-color: aliceblue;
    margin-left: 17%;
	margin-right: 10%;
    padding: 75px;
    height: 3px;
    width: 65%;
    float: left;
}

.all_cards_box_3 {
    background-color: aliceblue;
    margin-left: 17%;
	margin-right: 10%;
	margin-bottom: 20%;
    padding: 75px;
    height: 3px;
    width: 65%;
    float: left;
}
.mycard {
	border: solid 1px black;
	margin-bottom: 120px;
	font-size: 30px;
}

div#card-definition {
/*	border: solid 1px magenta;
*/	margin-bottom: 20%;
}

.button_position {
/*	border: solid 1px green;
*/}

.reveal_button {
	float: left;
	margin-left: 33%;
	margin-right: 10px;
	height: 30px;
}

.next_button {
	height: 30px;
}
